title: "Artemis JavaScript Canvas Scripts"
description: "Downloadable LED effects for Artemis RGB JavaScript Canvas plugin"
baseurl: "/Artemis.Plugins.LayerBrushes.JavascriptCanvas.Scripts"
url: "https://copycherox.github.io"

theme: minima
plugins:
  - jekyll-feed

collections:
  scripts:
    output: false

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "default"
